
@font-face {
    font-family: "one day";
    src: url(C:\Users\Adam\Documents\GitHub\06-Company-Homepage\resources\ONEDAY.ttf) format("truetype");
    src: url(C:\Users\Adam\Documents\GitHub\06-Company-Homepage\resources\ONEDAY.woff) format("woff");
}

html {
    font-family: "one day", "Unica One";
    font-size: 18px;
}

body {
    background-color: rgb(53, 53, 53);
}

/* <----------------------------------- HEADER ---------------------------------------> */

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid rgb(24, 24, 24);
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

div #bar {
    position: fixed;
    display: flex;
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 85px;
    z-index: 2; 
    opacity: .8;
}

header .headerlogo img{
    max-height: 85px;
    margin-left: 30px;
}

header .navcontainer {
    margin-right:30px;
}

header #navlist {
    display: flex;
}

header li {
    padding: 10px;
    background-color: rgb(78, 78, 78);
    margin: 5px;
    border-radius: 7px;
}

header a {
    color: rgb(175, 175, 175);
}

header .mobile {
    display: none;
}

.nav-button {
    display: none;
}

@media only screen and (max-width: 650px) {
    header .navcontainer {
        display: none;
    }

    header .mobile{
        display: block;
    }


/* <--------------------------------------- NAV BUTTON --------------------------------> */

.nav-button {
    display: block;
    position: fixed;
    right: 25px;
    width: 50px;
    height: 35px;
    background-image: url(resources/menu-icon-large.png), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px, 100%;
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
    border-radius: 5px;
    z-index: 999;
    text-indent: -9999px;
}
.nav-button:hover {
    background-color: rgba(0,0,0,.1);
}
.nav-button.open {
    background-image: url(resources/close-icon-large.png), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(78, 78, 78);
    background-size: 21px, 100%;
}

/* <----------------------------------------- PRIMARY NAV ----------------------------------> */

.primary-nav {
    width: 25%;
    float: none;
    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: absolute;
    top: 40px;
    right: 7%;
    z-index: 998;
    clear: both;
    border-radius: 20px;
    text-align: right;
}
.primary-nav li {
    display: none;
    width: 100%;
}
.primary-nav li a {
    display: block;
    width: 90%;
    padding: 10px 5%;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,.15);
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(255,255,255,.1);
}
.primary-nav li a:hover {
    background-color: rgba(0,0,0,.5);
    border-top-color: transparent;
}
.primary-nav > li:first-child {
    border-top: 1px solid rgba(0,0,0,.2);
}

/* Toggle the navigation bar open  */

.primary-nav.open {
    height: auto;
    padding-top: 50px;
}
.primary-nav.open li {
    display: block;
}

}
/* <------------------------------------ BANNER ------------------------------------> */

.bannercontainer {
    width: 100%;
    background-image: url(resources/coffee-bar-1.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px
}

@media only screen and (max-width: 650px) {
    .bannercontainer {
        width: 100%;
        background-image: url(resources/coffee-bar-1.jpg);
        position: relative;
        background-position-x: 60%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1500px
    }
}

/* <------------------------------------- FEATURED COFFEE ----------------------------------------> */

/* DESKTOP DISPLAY */
@media only screen and (min-width: 651px) {
    
    .featuredcontainer {
        color: rgb(102, 102, 102);
        text-align: center;
    }
    .featuredcontainer .title {
        background: rgb(24,24,24);
        width: 100%;
    }
    .featuredcontainer.coffeecontainer {
        display: flex;
        justify-content: center;
    }
    .featuredcontainer .row1{
        display: flex;
        margin: 1%;
        width: 100%;
    }
    .featuredcontainer .row2 {
        margin: 1%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .featuredcontainer .coffee {
        margin-top: 1rem;
        width:49%;
    }
    .featuredcontainer #start {
        margin: 10px 0;
        background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(24,24,24,1) 100%);
    }
    .featuredcontainer img{
        width: 95%;
        height: 500px
    }
    .featuredcontainer #textcolumns {
        display: flex;
        justify-content: space-around;
        margin: .277rem;
    }

/* ------FEATURED FONTS------ */
    .featuredcontainer h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .featuredcontainer h2 {
        font-size: 3rem;
    }
    .featuredcontainer h4 {
        font-size: 1.5rem;
    }
    .featuredcontainer h6 {
        font-size: 1.5rem;
    }
    .featuredcontainer h5 {
        margin: 30px;
        padding: 10px;
        font-size: 2.5rem;
    }
}
/* MOBILE DISPLAY */
@media only screen and (max-width: 650px) {
    .featuredcontainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: rgb(102, 102, 102);
        text-align: center;
    }
    .featuredcontainer .title {
        background: rgb(24,24,24);
        width: 100%;
    }
    .featuredcontainer .coffee {
        margin-top: 1rem;
    }
    .featuredcontainer #start {
        margin: 10px 0;
        background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(24,24,24,1) 100%);
    }
    .featuredcontainer #textcolumns {
        display: flex;
        margin: .277rem;
    }
    .featuredcontainer img{
        width: 100%;
    }
/* ------FEATURED FONTS------ */
    .featuredcontainer h1 {
        font-size: 3rem;
    }
    .featuredcontainer h2 {
        font-size: 3rem;
    }
    .featuredcontainer h4 {
        font-size: 1rem;
    }
    .featuredcontainer h6 {
        font-size: 1rem;
    }
    .featuredcontainer h5 {
        margin: 30px;
        padding: 10px;
        font-size: 2rem;
    }
}

/* <--------------------------- FOOTER -----------------------------> */

footer {
    position: absolute;
    display: flex;
    background-color: rgb(102, 102, 102);
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

footer h6 {
    margin-left: 25px;
}


footer img {
    height: 35px;
    width: auto;
    margin-right: 25px;
}

@media only screen and (max-width: 610px) {
    footer {
        font-size: 10px;
    }

    footer h6 {
        width: 20%;
        text-align: center;
    }

    footer img {
        height: 20px;
        width: auto;
    }
}